<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p>This site was created by Andrew Mead. It uses data from mapbox.com and darksky.net!</p>
        
        <img  class="portrait" src="./img/weather.png">
        </div>
        {{>footer}}
    </body>
</html>